@import "../../vars.css";

.page {
}

.container {
    position: relative;
    background-color: var(--color-secondary);
    border-radius: 15px;
    padding: 73px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    font-size: 35px;
    font-weight: 700;
    color: var(--color-text-dark);
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutImg {
    width: 35%;
}

.element {
    color: var(--color-text-dark);
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.ulItems {
    color: var(--color-text);
    flex-direction: column;
    gap: 50px;
  }

.item {
    display: flex;  
    flex-direction: column;
    align-items:flex-start;
    border-radius:  20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(90deg, var(--color-text-light) 0, rgba(255,255,255,0) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.item:hover{
    background-size:100% 100%;
}

.item h2{
    font-size:25px;
    font-weight: 600;
}

.item {
    font-size: 25px;
}

.image {
        max-height: 130px;
}

@media screen and (max-width: 830px) {
    .container{
        padding: 10px;
    }

    .aboutImg{
        display:none;
    }
    
    .content{
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .title{
        margin-left: 2%;
        margin-right: 2%;
    }

    .aboutItems{
        margin-top: 29px;
    }

    .item{
        margin-left: 1%;
    }

    .description{
        margin-left: 2%;
        margin-right: 2%;
        justify-content: center;
        font-size: 20px;
    }

    .image {
        display:none;
    }
}
