@import "../../vars.css";

section {
    position: relative; /* Add this */
}

.container{
    color: var(--color-text-dark);
    margin-top: 39px;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 10;
    position: relative;
}

.title{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    margin-top: 25px;
    text-transform: uppercase;
    margin-left:30px;
    z-index: 1;
    position: relative;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 12px;
}

.skills {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
}

.skill {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.skillImageContainer{
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
}

.skillImageContainer img {
    width: 75px;
}

.skill p{
    font-size: 25px;
    font-family: var(--font-roboto);
    font-weight: 500;
}

.history{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.historyItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    background-color: #19376d;
    background: linear-gradient(90deg, var(--color-secondary) 0%, rgba(25, 55, 109, 0) 120%);
    border-radius: 10px;
    padding: 24px;
}

.historyItem img {
    width: 50px;
}

.historyItemDetails {
    font-family: var(--font-roboto);
}

.historyItemDetails h3 {
    font-size: 30px;
    font-weight: 500;
}

.historyItemDetails p {
    font-size: 20px;
    font-weight: 300;
}

.historyItemDetails ul {
    margin-top: 6px;
    list-style-position: inside;
    font-size: 25px;
    list-style-type: disc;
    margin-left: 17px;
}

.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vh;
    min-width: 350px;
    min-height: 350px;
    top: -128px;
    left: 10vw;
    border-radius:764px;
    background: #d2d2be;
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 250px;
    min-height: 350px;
    top: 246px;
    left: -10vw;
    right: - 25vw;
    border-radius: 764px;
    border:764px;
    background: #d2d2be;
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width:830px){

    .content{
        flex-direction: column;
        align-items: center;
        gap:34px;
    }

    .skills {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .history {
        width:100%;
        gap: 9px;
    }
}