@import "../../vars.css";

.container {
    margin-top: 76px;
    color: var(--color-text);
    margin-left: 5%;
    margin-right: 5%;
}

.title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /* Prevent wrapping */
    align-items: center;
    gap: 15px;
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Hide vertical scrollbar */
    padding-bottom: 10px;
}
.projects::-webkit-scrollbar {
    height: 8px;
}

.projects::-webkit-scrollbar-track {
    background: var(--color-secondary);
}

.projects::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}

.projects::-webkit-scrollbar-thumb:hover {
    background: var(--color-dark);
}