@import "../../vars.css";

.container {
    margin-top: 76px;
    color: var(--color-text-dark);
    margin-left: 5%;
    margin-right: 5%;
}


.title{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    margin-top: 25px;
    margin-left:30px;
    text-transform: uppercase;
    z-index: 10;
    position: relative;
}


.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vh;
    min-width: 350px;
    min-height: 350px;
    top: -128px;
    left: 10vw;
    border-radius:764px;
    background: #d2d2be;
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 250px;
    min-height: 350px;
    top: 246px;
    left: -10vw;
    right: - 25vw;
    border-radius: 764px;
    border:764px;
    background: #d2d2be;
    filter: blur(100px);
    z-index: 0;
}

@media screen and (max-width:830px){

    .content{
        flex-direction: column;
        align-items: center;
        gap:34px;
    }

    .skills {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .history {
        width:100%;
        gap: 9px;
    }
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    align-items: center;
    gap: 15px;
    overflow-x: auto; 
    overflow-y: visible; 
    padding: 35px; 
    z-index: 10;
}

.projects::-webkit-scrollbar {
    height: 8px;
    min-width: 110%;
}

.projects::-webkit-scrollbar-track {
    background: var(--color-secondary);
}

.projects::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}

.projects::-webkit-scrollbar-thumb:hover {
    background: var(--color-dark);
}